
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-size: 18px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: url(../images/concrete_seamless.png) repeat;
}

p, label {
  color: #777777;
}

.custom-h1 {
  padding-bottom: 34px;
  margin-bottom: 30px;
  color: #4aaaa5;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  border-bottom: 3px solid #dddddd;
}

.mb-38 {
  margin-bottom: 38px;
}

.bb-2 {
  border-bottom: 2px solid #cccccc;
}

.custom-nav-link {
  color: #777777;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 100%;
  border-right: 1px solid #efefef;
}

.custom-nav-link:hover {
  color: #ffffff;
  background-color: #aa4a4f;
  border-right: 1px solid #efefef;
  text-decoration: none;
  transition: 500ms ease all;
}

/* nav li:after {
  content: "|";
  margin-right: -5px;
  color: red;
}

nav li:last-child::after {
    margin-right: 0;
    content: "";
} */

.pad-0 {
  padding: 0;
}

.custom-brand {
  background-color: #4aaaa5;
  height: 90px;
  width: 250px;
  text-align: center;
  line-height: 2.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
}

.navbar-light .custom-brand:hover {
  transition: 500ms ease all;
  background-color: #aa4a4f;
  color: #ffffff;
}

.navbar-light .custom-brand {
  color: #ffffff
}

.container {
  max-width: 960px;
}

main.container {
  padding: 40px 30px;
  border: 1px solid #dddddd;
}

main p {
  margin: 0;
  line-height: 2;
}

.footer {
  position: absolute;
  bottom: -8px; /* offsetting the border-top---if no border then set bottom to 0 */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 52px; /* Vertically center the text there --- use same value as height unless using a border */
  text-align: center;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
}

footer p {
  margin: 0;
  color: #cccccc;
  font-size: 14px;
}

/* bio page styles */

.bio h1 {
  margin-bottom: 19px;
}

.bio .img_box {
  margin: 11px 25px 0 0;
  float: left;
  overflow: hidden;
}

.bio img:hover {
  transition: 500ms ease all;
  transform: scale(1.7);
}

/* portfolio page styles */

.gallery article {
  position: relative;
  padding-right: 0;
  margin-bottom: 15px;
  overflow: hidden;

}

/* .gallery article:last-child {
  margin-bottom: 0;
} */

.gallery article a {
  position: absolute;
  bottom: 9px;
  height: 60px;
  width: 100%;
  padding: 20px 0 0 0;
  background-color: #4aaaa5;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  color: #ffffff;
}

.gallery article a:hover {
  transition: 500ms ease all;
  background-color: #aa4a4f;
  color: #ffffff;
  text-decoration: none;
}

.gallery img {
  width: 100%;
}

/* contact page styles */

.contact_form input, .contact_form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  color: #777777;
}

.contact_form input::placeholder {
  font-size: 14px;
  color: #4aaaa4;
}

.contact_form textarea {
  height: 200px;
}

.contact_form input.contact_submit {
  width: 115px;
  height: 40px;
  padding: 0;
  background-color: #4aaaa5;
  border: none;
  font-size: 100%;
  color: #ffffff;
}

.contact_form input.contact_submit:hover {
  background-color: #aa4a4f;
  transition: 500ms ease all;
}

/* media queries */

@media only screen and (min-width: 626px) {

    .bio img {
      width: 200px;
    }
}

@media only screen and (max-width: 625px) { 

    .bio .img_box {
      float: none;
      margin: 11px 0px 30px 0;
    }
}

@media only screen and (max-width: 500px) {

  a.navbar-brand {
    width: 100%;
    margin: 0;
  }

  .navbar-toggler {
    position: absolute;
    top: 170px;
    right: 5px;
    z-index: 1000;
  }
}

@media only screen and (max-width: 992px) {

  .navbar-collapse .custom-nav-link {
    border: none;
    padding: 5px 15px;
  }
}